@charset "utf-8";

iframe {
	border: none;
}

.fcsnon, .fcsnon:focus {
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: dotted 1px #ccc;
}
ul.step {
    display: inline-block;
    overflow: hidden;
    list-style: none;
    padding: 0px;
}

li.steptrue {
    background-color: #002060;
    color: white;
    padding: 10px;
    min-width:140px;
    float: left;
    white-space: nowrap;
}
li.stepfalse {
    background-color: #d9d9d9;
    padding: 10px;
    min-width:140px;
    float: left;
    white-space: nowrap;
}
.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #6aa7cd;
}
li.next {
    min-width:25px;
    padding: 8px;
    float: left;
    margin-top:15px;
}

.login {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 2px solid rgba(0, 112, 192, 0.5);
	border-radius: 2rem;
	padding: 2rem 1rem;
}
.login-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	text-align: center;
}
.login-form {
	margin: auto;
	max-width: 600px;
	background-color: rgba(0, 176, 240, 0.125);
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 5px;
}
.login-form p {
	background-color: #fff;
}
.regist {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 2px solid rgba(0, 112, 192, 0.5);
	border-radius: 0.5rem;
	margin-top: 25px;
}
@media (min-width: 1200px) {
	.container-fluid {
		width: 1117px;
	}
}
@media (min-width: 992px) {
	.container-fluid {
		width: 960px;
	}
}
.applist {
	background-color:#fff;
	margin:0 10px;
	padding:0 10px;
}
.bgw {
	background-color:#fff;
}
body.user {
	margin-top: 3.5rem;
}
div.scroll_div { overflow: auto; }
#table1 table,th,td{ margin:0;border-collapse:collapse; border:0; border-spacing:0; }
#table1 tr {
    border-right: 1px #eee solid;
}
#table1 td {
    border-bottom: 1px #ccc solid;
    border-left: 1px #eee solid;
    padding:3px 5px;
    min-height:25px;
    height:25px;
}
#table1 th { 
    background-color: #eee;
    border: #ccc solid 1px;
    min-height:30px;
    height:30px;
    text-align: center;
}
#table1 th.clear { 
    background-color: #fff;
    border: 0;
}
tr:hover td{
    background-color: #fff5d5;
    color: #5555cc;
}
#table1 tr.yobi td{
    border: #fff solid 1px;
    min-height: 120px;
    height: 120px;
}
#table1 tr.yobi:hover td{
    background-color: #fff;
    color: #fff;
}

.col50{
    min-width: 50px;
}
.col80{
    min-width: 80px;
}
.col100{
    min-width: 100px;
}
.col120{
    min-width: 120px;
}
.col130{
    min-width: 130px;
}

.col150{
    min-width: 150px;
}
.col210{
    min-width:210px;
}

.col200{
    min-width:200px;
}
.col300{
    min-width:300px;
}
.col480{
    min-width:480px;
}
.col600{
    min-width:600px;
}
.colmax{
    width:100%;
    box-sizing:content-box;
    min-height: 80px;
    top: 18px;
    vertical-align:middle;
    position:relative;
    left: -10px;
    font-size: 16pt;
}
.row40{
    min-height: 40px;
}
.w65{
    width:65%;
}

.fos {
    font-size:11px;
}
.kari {
    padding:2px 5px;
    background-color: #c30;
    color:white;
}
.bdr {
    border-right: 1px #ccc solid;
}

.bikou { 
    background-color:#CCC;
    border-radius: 2px;
    border: 2px solid transparent;
}
.bikou-ari {
    background-color:#e7b9bb;
    border-radius: 2px;
    border: 2px solid transparent;
}
.ttl{
    border-bottom: 2px #ccc solid;
    font-size: 13pt;
    width: 100%;
    margin-bottom: 10px;
    color: #666;
}
.terms{
    /*color: #699;*/
    font-weight: bold;
}
#terms ol ul li{
    list-style: none;
    text-indent: -1.3em;
}
/********************************************
* Now Loading
********************************************/
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 80px;
    height: 80px;
    border: 4px #ddd solid;
    border-top: 4px #999 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
.help-block strong{
	color: #e3342f;
}
/********************************************
* User Menu
********************************************/
/*
.pdfdwn{
  border: 2px solid rgba(0, 112, 192, 1);
  border-radius: 1rem;
  padding:8px;
  margin-right:10px;
  margin-bottom:5px;
  min-width: 230px;
  background-color:#fff;
}
*/
a.pdfdwn {
	border: 1px solid #ccc;
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
	background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
	background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
	-webkit-box-shadow: inset 1px 1px 1px #fff;
	box-shadow: inset 1px 1px 1px #fff;
	padding: 8px 20px;
	margin-bottom:5px;
	width: 100%;

}

a.pdfdwn:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
	background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
	background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
.searchbtn{
	/*border: 2px solid #002060;*/
	border-radius: 1rem;
	background-color:#002060;
	padding: 8px;
	/*margin-right: 15px;*/
	margin-bottom: 3px;
	color: #fff;
	font-size: 11pt;
	/*font-weight: bold;*/
	text-align: center;
}
.searchbtn:hover{
	background-color:rgba(0, 112, 192, 1);
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.searchbtn a, .searchbtn a:visitet{
	text-decoration: none;
	color: #fff;

}

.wide-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dotted {
    border: 2px dotted rgba(0,0,0,0.3);
}
/********************************************
* Admin
********************************************/

.memodate {
    background:#eee;
    clear:both;
    float:left;
    margin:5px 0px 0px 5px;
    min-height:15px;
    padding:5px;
    font-size:10pt;
}
.memouser {
    background:#eee;
    float:left;
    width:50px;
    margin:5px 0px 0px 5px;
    min-height:15px;
    padding:5px;
    font-size:10pt;
}
.lmg5 {
    float:left;
    margin:5px;
}
.rmg5 {
    float:right;
    margin:5px;
}
/********************************************
* tooltip
********************************************/
.cp_tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.cp_tooltip .cp_tooltiptext {
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 105%;
    visibility: hidden;
    /*width: auto;*/
    /*white-space: nowrap;*/
    width: 190px;
    height:150px;
    padding: 0.3em 0.5em;
    transition: opacity 1s;
    text-align: left;
    opacity: 0;
    color: #333;
    /*border-radius: 6px;*/
    background-color: #fffbe8;
    font-size: 9pt;
    overflow: auto;
    box-shadow: 0px 0px 10px 0px #ccc;         /* 吹き出し本体の影 */
}
.cp_tooltip .cp_tooltiptext::after {
    position: absolute;
    top: 40%;
    right: 100%;
    margin-left: -5px;
    content: ' ';
    border: 5px solid transparent;
    border-right-color: #fffbe8;
}
.cp_tooltip:hover .cp_tooltiptext {
    visibility: visible;
    opacity: 1;
}
.cp_tooltip .cp_tooltipsmalltext {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    visibility: hidden;
    width: 70px;
    height:25px;
    padding: 0.3em 0.5em;
    transition: opacity 1s;
    text-align: left;
    opacity: 0;
    border-radius: 4px;
    background-color: #fffbe8;
    font-size: 9pt;
}
.cp_tooltip .cp_tooltipsmalltext::after {
    position: absolute;
    top: 22%;
    right: 100%;
    margin-left: -5px;
    content: ' ';
    border: 5px solid transparent;
    border-right-color: #fffbe8;
}
.cp_tooltip:hover .cp_tooltipsmalltext {
    visibility: visible;
    opacity: 1;
}
.lf_tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    float:left;
}
.lf_tooltip a{
    text-decoration:none;
}
.lf_tooltip .lf_tooltiptext {
    position: absolute;
    z-index: 10;
    top: -30px;
    right: 130%;
    /*visibility: hidden;*/
    display:none;
    width: auto;
    white-space: nowrap;
    padding: 13px 13px;
    transition: opacity 1s;
    text-align: center;
    opacity: 0;
    /*color: #ffffff;*/
    border-radius: 8px;
    background-color: #CCC;
}

.lf_tooltip .lf_tooltiptext::after {
    position: absolute;
    top: 15%;
    left: 103%;
    margin-left: -12px;
    content: ' ';
    border: 15px solid transparent;
    border-left-color: #CCC;
}
.noedit {
    background:#eee;
    float:left;
    width:85px;
    margin:5px 5px 5px 2px;
    min-height:20px;
    min-width:60px;
}
.cls_tip{
    float:right;
    margin:3px;
}

img.pls_tip{
    margin: 4px 0px 0px 10px;
}
/*
.tooltip1{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip1 p{
    margin:0;
    padding:0;
}
.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 11px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: auto;
    white-space: nowrap;
}
.description1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
}
.tooltip1:hover .description1{
    display: inline-block;
    top: 0%;
    left: 50%;
	-webkit-transform: translate(-50%, calc(-100% - 10px));
	transform: translate(-50%, calc(-100% - 10px));
}
*/
.tooltip1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
	vertical-align: text-bottom;
}
.tooltip1 .tooltip1text {
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: -9.2rem;
    visibility: hidden;
    width: auto;
    white-space: nowrap;
    padding: 0.3em 0.5em;
    transition: opacity 1s;
    text-align: left;
    opacity: 0;
    color: #fff;
    border-radius: 6px;
    background-color: #000;
    font-size: 9pt;
    /*overflow: auto;*/
}
.tooltip1 .tooltip1text::after {
    position: absolute;
    top: 100%;;
    left: 50%;
    margin-left: -5px;
    content: ' ';
    border: 10px solid transparent;
    /*border-right-color: #000;*/
    border-top: 15px solid #000;
    margin-left: -15px;
}
.tooltip1:hover .tooltip1text {
    visibility: visible;
    opacity: 1;
}

/********************************************
* dropzone
********************************************/

#preview_area{
    background-color:#e6e6e6;
    /*height:165px;*/
    min-height:140px;
    width:100%;
    position:relative;
}
#image_drop_area{
    border: 2px dotted rgba(0,0,0,0.3);
    background-color:#fff;
    opacity: 0.5;
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
}
#image_drop_area span{
    position:relative;
    top: 45%;
}

/* dropzoneカスタマイズ */
#image_drop_area.dz-drag-hover {
	background-color: #ccffcc;
	border-color: #99cc99;
	color: #99cc99;
}
#preview_area div.dz-preview.dz-error div.dz-progress {
	display: block;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
#preview_area div.dz-preview.dz-error a.dz-remove {
	color: #ee1e2d;
	font-weight: bold;
}

/********************************************
* uploadfile
********************************************/
#tableup {
    width: 100%;
    margin-bottom:15px;
}
#tableup tr {
    border-bottom: 1px #eee solid;
}
#tableup td {
    border-bottom: 1px #ccc solid;
    /*border-left: 1px #eee solid;*/
    padding:3px 5px;
    min-height:25px;
    height:25px;
    font-size: 11px;
}
#tableup th { 
    /*background-color: #eee;*/
    border-bottom: #ccc solid 2px;
    min-height:20px;
    height:20px;
    text-align: center;
}
#tableup td.txr {
    text-align:right;
}
#tableup td.txc {
    text-align:center;
}
#tableup th label {
	font-weight: normal;
	margin: 1rem 0 0 0;
}

#tableup th.file-size {
    text-align: center;
}
#tableup th.file-size span {
	display: block;
    font-size: 0.7rem;
    color: #555;
    font-weight: normal;
}
#tableup th.file-size span.near-max {
	color: #ee0000;
	font-weight: bold;
}
#tableup td.file-size {
    padding-right: 1rem;
}
@media all and (min-width: 1200px) {
	#tableup th.file-size {
		text-align: right;
	}
	#tableup th.file-size span {
		display: inline;
	}
}

.btn-cc,
a.btn-cc,
button.btn-cc {
	/*font-size: 1.6rem;*/
	font-weight: 400;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

a.btn-c,
button.btn-c {
	/*font-size: 2.2rem;*/

	position: relative;

	padding: 1.5rem 2rem 1.5rem 2rem;

	color: #fff;
	background: #3d62b2;
	-webkit-box-shadow: 0 5px 0 #002060;
	box-shadow: 0 5px 0 #002060;
}

a.btn-c span {
	font-size: 1rem;

	display: inline-block;

	width: 85%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.2rem 0.5rem;

	color: #3d62b2;
	border-radius: 4px;
	background: #fff;
}

/*
a.btn-c:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.8rem;
  line-height: 1;

  position: absolute;
  top: calc(50% - 0.7rem);
  left: 1.5rem;

  margin: 0;
  padding: 0;

  content: "\f30b";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*/
a.btn-c:hover,
button.btn-c:hover {
	-webkit-transform: translate(0, 3px);
	transform: translate(0, 3px);

	color: #fff;
	background: #387cca;
	-webkit-box-shadow: 0 2px 0 #002060;
	box-shadow: 0 2px 0 #002060;
}

a.btn-c:hover:before,
button.btn-c:hover:before {
	left: 2rem;
}
a.upfile{
	text-decoration: none;
	color: #3490dc;
}
a.upfile:hover{
	color: #1d68a7;
	text-decoration: underline;
}
#div1 td.midoku{
	background-color: #ffb4b4 !important;
}

a.flgchange {
	border: 1px solid #ccc;
	background: #f1e767;
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
	background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
	background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
	-webkit-box-shadow: inset 1px 1px 1px #fff;
	box-shadow: inset 1px 1px 1px #fff;
	padding: 2px 5px;
	margin-bottom:5px;
	font-size: 11px;
}

a.flgchange:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
	background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
	background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.attention {
	border-radius: 0.5rem;
	color: #761b18;
	background-color: #ffffc0;
	border: 2px dotted #ffde8e;

}

.midoku2 {
	background-color:#f7c6c5;padding:1px 5px;
}



section.home-section {
    margin: 1rem 0 4rem 0;
}


/********************************************
* vacancy
********************************************/
div.container.vacancy {
    max-width: 1800px;
	font-size: 0.8rem;
}
table.vacancy-tbl {
	width: 1800px;
	table-layout: fixed;
}
#vacancy-head .btn-box {
	margin-bottom: 1rem;
}
#nairan-open-error {
	color: #e3342f;
	display: inline-block;
	font-size: 1rem;
	margin-left: 1rem;
	vertical-align: text-top;
}
#nairan-open-error.hide {
	display: none;
}
#nairan-open {
	margin-left: 2rem;
}
#vacancy-head .msg-box {
	position: absolute;
	right: 0;
	bottom: 2.5rem;
	font-size: 0.9rem;
	text-align: right;
}
#vacancy-head .msg-box .cp-view {
	display: inline-block;
	margin-right: 2rem;
}
#vacancy-head .msg-box .cp-view .block {
	display: inline-block;
	width: 3rem;
	height: 1.2rem;
	vertical-align: text-bottom;
	margin-right: 0.1rem;
	border: 1px solid #ccc;
}

/* ヘッダ部分固定 */
#vacancy-head {
	position: fixed;
	top: 0;
	padding-top: 5rem;
	padding-right: 1px;
	background-color: #fff;
}
#vacancy-body {
	margin-top: 5.2rem;
}

/* スクロールをjsで制御してたのでメディアクエリ無し */
.sp-mode #vacancy-head {
	position: static;
	top: auto;
	left: auto;
	padding-top: 0;
	padding-right: 0;
}
.sp-mode #vacancy-body {
	margin-top: 0;
}
.sp-mode a.btn-c, 
.sp-mode button.btn-c {
    display: block;
    margin: 0.5rem 0;
	padding: 0;
    width: 100%;
	line-height: 2.5;
}
.sp-mode #nairan-open {
	margin: 1.5rem 0;
}
.sp-mode #vacancy-head .msg-box {
	position: static;
}

/* カラム幅設定 */
table.vacancy-tbl col.nairan {
    width: 35px;
}
table.vacancy-tbl col.bname {
    width: 160px;
}
table.vacancy-tbl col.adrs {
    width: 240px;
}
table.vacancy-tbl col.njokyo {
    width: 35px;
}
table.vacancy-tbl col.rno {
    width: 55px;
}
table.vacancy-tbl col.rpath {
    width: 40px;
}
table.vacancy-tbl col.madori {
    width: 80px;
}
table.vacancy-tbl col.rtype {
    width: 55px;
}
table.vacancy-tbl col.area {
    width: 55px;
}
table.vacancy-tbl col.tinryo {
    width: 110px;
}
table.vacancy-tbl col.kyoeki {
    width: 90px;
}
table.vacancy-tbl col.suido {
    width: 90px;
}
table.vacancy-tbl col.hosho {
    width: 80px;
}
table.vacancy-tbl col.reikin {
    width: 80px;
}
table.vacancy-tbl col.kokoku {
    width: 60px;
}
table.vacancy-tbl col.genkyo {
    width: 55px;
}
table.vacancy-tbl col.taikyo {
    width: 65px;
}
table.vacancy-tbl col.nkano {
    width: 65px;
}

/* 装飾 */
#vacancy-head th {
	font-weight:normal;
	font-size: 0.75rem;
	text-align: center;
	padding: 0.5rem 0;
    border: 1px solid #ccc;
    background-color: #eee;
}
#vacancy-body tr.header th {
    background-color: #eee;
    text-align: left;
    font-weight: normal;
    padding: 0.6rem 0.2rem;
    border-top: 1px solid #ccc;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
#vacancy-body td {
	padding: 0.4rem 0.2rem;
    border-top: 1px solid #ccc;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
	cursor: pointer;
}
#vacancy-body tr.same td {
	border-top: 1px dotted #ccc;
}
#vacancy-body tr.same td.bname,
#vacancy-body tr.same td.adrs {
	border-top: none;
}
#vacancy-body tr.selected td {
	background-color: rgba(255, 245, 213, 0.4);
}
#vacancy-body tr:last-child td {
    border-bottom: 1px solid #ccc;
}

#vacancy-body td.nairan {
	text-align: center;
}
#vacancy-body td.bname {
}
#vacancy-body td.adrs {
	font-size: 0.75rem;
}
#vacancy-body td.njokyo {
    text-align: center;
}
#vacancy-body td.rno {
    text-align: center;
}
#vacancy-body td.rpath {
	text-align: center;
}
#vacancy-body td.madori {
    text-align: center;
}
#vacancy-body td.rtype {
    text-align: center;
}
#vacancy-body td.area {
    text-align: center;
}
#vacancy-body td.tinryo {
    text-align: right;
}
#vacancy-body td.kyoeki {
    text-align: right;
}
#vacancy-body td.suido {
    text-align: right;
}
#vacancy-body td.hosho {
    text-align: right;
}
#vacancy-body td.reikin {
    text-align: right;
}
#vacancy-body td.kokoku {
    text-align: center;
}
#vacancy-body td.genkyo {
    text-align: center;
}
#vacancy-body td.taikyo {
    text-align: center;
}
#vacancy-body td.nkano {
    text-align: center;
}
#vacancy-body td.biko {
	font-size: 0.75rem;
}

#vacancy-body td.njokyo.ari {
	background-color: #ffb4b4;
} 

#vacancy-head .cp-view .block,
#vacancy-body td.tinryo.cp,
#vacancy-body td.kyoeki.cp,
#vacancy-body td.hosho.cp,
#vacancy-body td.reikin.cp,
#vacancy-body td.kokoku.cp {
	background-color: #ffffaa;
}

#vacancy-modal .modal-header label {
	font-size: 1rem;
	margin-bottom: 0;
}
#vacancy-modal .ml15 {
	margin: 1rem;
	font-size: 0.9rem;
}
#vacancy-modal .contact{
    background-color: rgba(0,176,240,0.125);
    margin: 0 15px;
    padding: 10px;
}
#vacancy-modal .blc{
    display: block;
}
#vacancy-modal .invalid-feedback{
	/*    display:none;*/
	display: block;
    width: 100%;
	margin: 0.5rem 0 0.5rem 20px;
    font-size: 0.8rem;
    color: #dc3545;
}
#vacancy-modal .invalid-feedback strong {
	display: block;
}
#vacancy-modal div.hide {
	display: none;
}

@media all and (min-width: 700px) {
	#vacancy-modal .modal-dialog {
		min-width: 650px;
	}
	#nairan-input {
		margin: 0 4rem 1rem 4rem;
	}
}

#nairan-view {
    margin: 1rem;
	min-height: 8rem;
}
#nairan-view table.nairan {
    margin: 0 auto;
	min-width: 80%;
	color: #761b18;
	background-color: #ffffdd;
	border: 2px dotted #ffcc88;
}
#nairan-view table th {
	border: 1px dotted #ffcc88;
	border-bottom-width: 2px;
	font-size: 0.75rem;
	padding: 5px 2px;
	text-align: center;
}
#nairan-view table td {
    border: 1px dotted #ffde8e;
    padding: 4px 6px;
    text-align: center;
}
#nairan-view table td div.evno-ttl {
	margin-top: 0.2rem;
	font-weight: bold;
}
#nairan-view table td div.evno,
#nairan-view table td div.evno-ttl {
	color: #cc0000;
	font-size: 0.7rem;
}
#nairan-view div.msg {
	margin-top: 2rem;
	text-align: center;
}
#nairan-view div.msg p {
	margin: 0;
	font-size: 0.85rem;
	color: #333;
}
#nairan-view div.msg p:first-child {
	margin-bottom: 1rem;
}