html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body,th,td,input,textarea,select{
    font-family: "Hiragino Kaku Gothic ProN"
               , "ヒラギノ角ゴ ProN W3"
               , Meiryo
               , メイリオ
               , sans-serif;
    font-size: 12px;
}
table{
    empty-cells: show;
    border-collapse: collapse;
    white-space: normal;
}
th,td{
    padding: 0;
}
button{
    cursor: pointer;
}
#menulist li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

